html, body {
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.header {
    margin: 0px;
    padding: 20px 180px;
    /*flex-grow: 5;*/
    height: 45vh;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.topPart, .bottomPart {
    width: 75%;
    align-items: center;
}
.topPart {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 0;
}
.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}
.bottomPart {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 8px;
    display: flex;
    gap: 80px;
    align-items: stretch;
    margin: auto;
}
.textPart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    gap: 14px;
}
.title{
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}
.header-link, .description {
    color: #E5E7EB;
    font-size: 18px;
}
.button1 {
    background-color: #3882f6;
    color: white;
    padding: 8px 16px; /* Adds space around text */
    border-radius: 8px; /* Rounds the corners */
    border: none; /* Removes default border */
    display: inline-block; /* Ensures width is based on content */
    text-align: center; /* Keeps text centered */
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
    width: 140px; /* Takes full width of the container */
    aspect-ratio: 3.2 / 1; /* Ensures height matches width (perfect square) */
}
.image {
    margin: 0px;
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 100%; /* Fills .image container */
    height: 100%; /* Maintains aspect ratio */
}
.section1 {
    margin: 0px;
    padding: 40px 260px;
    /*flex-grow: 5;*/
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.second-title{
    margin-top: 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.pictures-container{
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
    gap: 45px;
}
.unit{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 5px;
}
.unit-pic{
    width: 100%; /* Takes full width of the container */
    aspect-ratio: 1 / 1; /* Ensures height matches width (perfect square) */
    border-radius: 16px; /* Rounded corners */
    border: 4px solid #3882f6;
}
.unit-descr{
    text-align:center;
}
.section2{
    background-color: #E5E7EB;
    height: 40vh;
    margin: 0px;
    padding: 50px 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.quote-author{
    align-self: flex-end;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
}
.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}
.section3{
    height: 35vh;
    margin: 0px;
    padding: 40px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.callToActionContainer{
    width: 100%;  /* Set width */
    height: 160px; /* Set height equal to width for a square */
    background-color: #3882f6; /* Background color */
    border-radius: 8px; /* Adjust for rounded corners */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cTAText{
    color: white;
}
.part1{
    font-weight: 900;
    font-size: 26px;
}
.part2{
    font-size: 22px;
}
.button2{
    width: 180px; /* Takes full width of the container */
    aspect-ratio: 3.5 / 1; /* Ensures height matches width (perfect square) */
    border-radius: 8px; /* Rounded corners */
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 22px;
}
.footer {
    height: 7vh;
    margin: 0px;
    /*padding: 40px 300px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}
.footer-text {
    color:white;
    font-size: 18px;
}
